<!DOCTYPE html>
<html lang="en">
<!-- Load font awesome icons -->



  <!-- Include Head -->
  <%- include('./partials/head')%>
  <body>
  <!-- Header -->
	<%- include('./partials/header') %>
	<!-- /Header -->


<body style="background-color:gray;">
<div class="conteiner-index-admin">
  <h1>BIENVENIDO <span>NOMBRE</span> A LA PAGINA DE ADMINISTRACIÓN</h1>
</div>
<%- include('./partials/footer')  %> 
</body>

</html> 