<!DOCTYPE html>
<html lang="en">
<!-- Load font awesome icons -->



  <!-- Include Head -->
  <%- include('./partials/head')%>
  <body>
  <!-- Header -->
	<%- include('./partials/header') %>
	<!-- /Header -->

  
<div class="management-index-background">
  <div class="filter-black-management">


  <div class="container-management-index">

<div class="conteiner-index-admin2">

  <h1>BIENVENID<% if (user.sex_id == 1) { %>O<% }else{ %>A<%}  %>   <span style="color: crimson;"><%= user.name.toUpperCase() %></span></h1>
</div>

<a class="avatar-usuario" href="/ingreso/perfil"><img src="/images/<%- user.avatar %> " alt=""></a>


</div>



</div>
</div>
</body>

</html> 