<!DOCTYPE html>
<html lang="en">
<!-- Load font awesome icons -->

  <!-- Include Head -->
  <%- include('./partials/head')%>
  <body>
  <!-- Header -->
	<%- include('./partials/header') %>
	<!-- /Header -->

<body style="background-color:gray;">
  <div class="contenedor-formulario-admin">
    <form action="/admin/products/create" method="POST" class="form-admin" enctype="multipart/form-data">
      <div class="form-header">
        <h1 class="form-title">C<span>rear Producto</span></h1>
      </div>
      <label for="title" class="form-label">Nombre:</label>
      <input type="text" id="title" class="form-input" name="title" placeholder="Nombre del producto" required>
      <label for="price" class="form-label">Precio:</label>
      <input type="number" id="price" min="1" step="any" class="form-input" name="price" placeholder="Precio del producto" required>
      <label for="description" class="form-label">Descripción:</label>
      <textarea class="form-textarea" name="description" id="description"
        placeholder="Breve descripción del producto"></textarea>
      <label for="tipo" class="form-label">Tipo de Vino:</label>
      <select class="form-select" name="tipo" id="tipo" required>
        <option class="form-option" value="Tinto">Vinos Tintos</option>
        <option class="form-option" value="Blanco">Vinos Blancos</option>
        <option class="form-option" value="Espumante">Espumantes</option>
      </select>
      <label for="descuento" class="form-label">Descuento:</label>
      <select class="form-select" name="descuento" id="descuento" required>
        <option class="form-option" value="0">Sin Descuento</option>
        <option class="form-option" value="5">5% OFF</option>
        <option class="form-option" value="10">10% OFF</option>
        <option class="form-option" value="15">15% OFF</option>
        <option class="form-option" value="20">20% OFF</option>
        <option class="form-option" value="25">25% OFF</option>
        <option class="form-option" value="35">35% OFF</option>
      </select>
      <div class="form-checkbox"><label for="envio" class="form-label">Envío gratis:</label>
        <input class="form-radio" type="checkbox" name="envio" id="envio" value="1">
        <br>
        <br>
        <div class="form-checkbox"><label for="promo" class="form-label">Producto en portada:</label>
          <input class="form-radio" type="checkbox" name="promo" id="promo" value="cover">
      </div>
      <h2 class="form-title">C<span>aracterísticas</span></h2>
      <label for="varietal" class="form-label">Varietal:</label>
      <input type="text" id="varietal" class="form-input" name="varietal" placeholder="Tipo de uva" required>
      <label for="number" class="form-label">Añada:</label>
      <input type="number" id="añada" min="1900" step="any" class="form-input" name="añada" placeholder="Año de cosecha" required>
      <label for="barrica" class="form-label">Tipo de Barrica:</label>
      <input type="text" id="barrica" class="form-input" name="barrica" placeholder="Tipo de barrica" required>
      <label for="tiempo" class="form-label">Tiempo en botella:</label>
      <input type="number" id="tiempo" class="form-input" name="tiempo" placeholder="Tiempo en botella" required>
      <label for="tipoCosecha" class="form-label">Tipo de Cosecha:</label>
      <select class="form-select" name="tipoCosecha" id="tipoCosecha" required>
        <option class="form-option" value="Manual">Manual</option>
        <option class="form-option" value="Mecánica">Mecánica</option>
      </select>
      <label for="terroir" class="form-label">Terroir:</label>
      <input type="text" id="terroir" class="form-input" name="terroir" placeholder="Lugar Geográfico" required>
      <label for="finca" class="form-label">Finca:</label>
      <input type="text" id="finca" class="form-input" name="finca"placeholder="Finca" required>


      <h2 class="form-title">N<span>otas de Cata</span></h2>
      <label for="color" class="form-label">Color:</label>
      <textarea class="form-textarea" name="color" id="color" placeholder="Breve descripción del producto"></textarea>
      <label for="aroma" class="form-label">Aroma:</label>
      <textarea class="form-textarea" name="aroma" id="aroma" placeholder="Breve descripción del producto"></textarea>
      <label for="sabor" class="form-label">Sabor:</label>
      <textarea class="form-textarea" name="sabor" id="sabor" placeholder="Breve descripción del producto"></textarea>








      <div class="contenedor-form-file">
        <span class="form-file">
          <input type="file" name="imagen" id="cargar-imagen">
        </span>
        <label for="cargar-imagen" class="form-label-file">
          <span>Cargar imagen</span>
        </label>
      </div>


      <input type="submit" class="btn-submit-admin" value="Cargar producto nuevo">


    </form>
  </div>

  <%- include('./partials/footer')  %> 
</body>

</html>