.carrito-cart-header {
  background-color: #222121;
  border-bottom: 1px solid #d8cfd4;
  padding: 20px;
}

.carrito-cart-image {
  background-color: #af1236;
  max-width: 80px; /* WIDTH atributo de ancho*/
  border-radius: 20px;
}

.carrito-cart-quantity-input {
  max-width: 45px;
  border: 1px soli#af1236;
  border-radius: 5px;
  background: #f7f1f1;
  padding: 5px;
}


.carrito-cart-total { /*Contenedor del total*/
  background-color: #f7f1f1; /*Color Fondo*/
  color: #010101; /*Color letra*/
  min-height: 150px; /* HEIGHT Atributo de altura*/
  padding: 20px;
}

.carrito-cart-items {
  background-color:#d8cfd4;  /*Color Fondo*/
  padding: 20px 20px;
}
