/*===============Css PRODUCT DETAILS ===================*/

/*contenedor producto*/

.caja-detailProduct {
    background-color  : var(--color-gris);
    /*margin-top      : 116px;*/
    box-shadow        : 0px 0px 5px rgb(0 0 0 / 60%);
  
  }
  
  /*------------------------------------------------*/
  
  /*img producto*/
  
  .caja-detailProduct img {
    width     : 100%;
    transition: all 1.9s ease;
  
  }
  
  .img-contenedor:hover img {
    transform: scale(1.25);
  
  }
  
  /*------------------------------------------------*/
  
  /* titulo producto*/
  
  .title-product-detail {
    margin: 20px 0;
  }
  
  .title-product-detail h4 {
    color      : var(--color-grisos);
    text-align : left;
    font-weight: bold;
    font-size  : 2rem;
  
  }
  
  /*------------------------------------------------*/
  
  /* precio anterior*/
  
  .tachado h4 {
    color          : gray;
    text-align     : left;
    text-decoration: line-through;
  }
  
  /*------------------------------------------------*/
  
  /* precio nuevo*/
  .precio {
    position: relative;
  
  }
  
  .precio h2 {
    color      : var(--color-rosa);
    font-weight: bold;
  }
  
  /*------------------------------------------------*/
  
  /* descuento */
  
  .descuento-detail {
    width          : 60px;
    height         : 60px;
    border-radius  : 50%;
    background     : var(--color-rosa);
    display        : flex;
    justify-content: center;
    align-items    : center;
    text-align     : center;
    margin         : 0px auto;
    padding        : 3%;
    position       : absolute;
    left           : 120px;
    bottom         : -10px;
  }
  
  .descuento-detail span {
    text-transform: uppercase;
    font-weight   : bold;
  }
  
  /*------------------------------------------------*/
  
  /* medios de pago*/
  .medios-de-pago {
    display      : flex;
    border-bottom: gray 1px solid;
    border-top   : gray 1px solid;
    margin-top   : 25px;
    padding      : 10px 0 0 5px;
  
  }
  
  .title-medios-de-pago,
  .title-tiempos-de-envio {
    color    : var(--color-grisos);
    display  : flex;
    width    : 50%;
    flex-wrap: wrap;
    margin   : 0;
    padding  : 0
  }
  
  .title-medios-de-pago i,
  .title-tiempos-de-envio i {
    font-size: 1.5rem;
    color    : var(--color-rosa);
  
  }
  
  .title-medios-de-pago h4,
  .title-tiempos-de-envio h4 {
    font-size     : 0.8rem;
    padding       : 5px 0 0 5px;
    text-transform: uppercase;
    font-weight   : bold;
  }
  
  .title-medios-de-pago a p,
  .title-tiempos-de-envio a p {
    font-size      : 0.8rem;
    text-decoration: none;
    color          : var(--color-rosa);
    padding        : 0 0 0 35px;
  
  }
  
  .iconos-medios-de-pago {
    width  : 50%;
    color  : var(--color-rosa);
    margin : 0;
    padding: 0 0 0 5px;
    ;
  }
  
  .iconos-medios-de-pago i {
    font-size: 35px;
    padding  : 2px;
  }
  
  /*------------------------------------------------*/
  
  /* tiempos de envio*/
  
  .tiempo-de-envio {
    display      : flex;
    border-bottom: gray 1px solid;
  
    padding: 10px 0 0 5px;
  
  }
  
  
  
  
  /*------------------------------------------------*/
  
  /* selector de cantidad */
  
  input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance   : textfield;
    appearance        : textfield;
  }
  
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }
  
  .agregar-cantidad {
    width          : 100%;
    display        : flex;
    justify-content: center;
    border-bottom  : gray 1px solid;
  }
  
  .selector-de-cantidad {
    padding: 15px;
  }
  
  .number-input {
    border : var(--color-rosa) 2px solid;
    display: inline-flex;
  }
  
  .number-input,
  .number-input * {
    box-sizing: border-box;
  }
  
  .number-input button {
    outline           : none;
    -webkit-appearance: none;
    background-color  : transparent;
    border            : none;
    align-items       : center;
    justify-content   : center;
    width             : 3rem;
    height            : 3rem;
    cursor            : pointer;
    margin            : 0;
    position          : relative;
  }
  
  .number-input button:before,
  .number-input button:after {
    display         : inline-block;
    position        : absolute;
    content         : '';
    width           : 1rem;
    height          : 2px;
    background-color: var(--color-rosa);
    transform       : translate(-50%, -50%);
  }
  
  .number-input button.plus:after {
    transform: translate(-50%, -50%) rotate(90deg);
  }
  
  .number-input input[type=number] {
  
    max-width       : 5rem;
    padding         : .5rem;
    border          : var(--color-rosa) solid;
    border-width    : 0 2px;
    font-size       : 2rem;
    height          : 3rem;
    font-weight     : bold;
    text-align      : center;
    background-color: var(--color-rosa);
    color           : var(--color-gris);
  }
  
  
  /*------------------------------------------------*/
  
  /* button-de-compra */
  .button-confirma-producto {
    width          : 100%;
    display        : flex;
    justify-content: center;
    height         : 60px;
    padding        : 10px;
  }
  
  /*------------------------------------------------*/
  
  /* descripcion */
  
  .descripcion {
    margin : 0;
    padding: 20px;
  }
  
  /*------------------------------------------------*/
  
  /* tabla-especificaciones */
  .especificaciones,
  .contenedor-cata {
    padding: 20px;
  }
  
  .tabla-especificaciones,
  .cata-producto {
    background-color: var(--color-grisos);
  
  }
  
  .title-table {
    text-transform: uppercase;
    color         : var(--color-rosa);
    font-weight   : bold;
  
  }
  
  .contenido-table {
    text-align: right;
  
  }

  @media (min-width: 768px) {
    .contenedor-detailProduct {
      display: flex;
    }
  
  
  
    .caja-detailProduct {
      margin   : 0px 0 0 0;
      flex-wrap: wrap;
      display  : flex;
    }
  
    .parte-img-producto {
      display       : flex;
      flex-direction: column;
      width         : 50%;
  
  
    }
  
    .parte-descripcion-producto {
      display       : flex;
      flex-direction: column;
      width         : 50%;
    }
  
  }
  
  @media (min-width: 1024px) {
    .title-product-detail h4 {
      font-size: 3rem;
    }
  
    .precio h2 {
      font-size: 3rem;
    }
  
    .descuento-detail {
      width : 90px;
      height: 90px;
      left  : 180px;
  
    }
  
    .descuento-detail span {
      font-size: 1.3rem;
    }
  
    .title-medios-de-pago i,
    .title-tiempos-de-envio i {
      font-size: 2rem;
    }
  
    .title-medios-de-pago h4,
    .title-tiempos-de-envio h4 {
      font-size: 1rem;
    }
  
    .title-medios-de-pago a p,
    .title-tiempos-de-envio a p {
      font-size   : 1rem;
      padding-left: 43px;
  
    }
  
    .title-medios-de-pago a,
    .title-tiempos-de-envio a {
      text-decoration: none;
    }
  
    .title-medios-de-pago a p:hover,
    .title-tiempos-de-envio a p:hover {
      color     : var(--color-grisos);
      transition: color .3s ease;
    }
  
    .button-confirma-producto {
      height     : 70px;
      padding-top: 20px;
    }
  }
  