.modal-container{
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    top: 0;
    left:0;
    background-position: center;
   background-color: rgba(0, 0, 0, .7);
   /*background-image   : url('../images/fondo5.jpg');*/
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal {
    width: 60%;
    height: 60%;
    background-color: rgba(235 244 249 / 95%);
    text-align: center;
    display: flex;
    flex-direction:column ;
    justify-content: space-evenly;
    position: relative;
    align-items: center;
    transition: transform 1s;
    transform: translateY(0%);
    border-radius: 10px;
   
  }

  .acept {
    padding: 5px;
    margin: 10px 0;
    position: absolute;
    bottom: 2px;
    /*right: 38%;*/
    display: inline-block;
    /*width: 25%;
    height: 5vh;*/
    background-color: #004056;
    color: var(--color-gris);
    line-height: 25px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease-in;
    border: 2px solid white;

      }
  
    .acept:hover {
      background-color: var(--color-gris);
      color: #004056;
      border: 2px solid #004056;
      }
  
  .close2 {
    position: absolute;
    top: 5px;
    right: 5px;
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: var(--color-rojo);
    color: var(--color-gris);
    line-height: 25px;
    cursor: pointer;
    border-radius: 50%;
    transition: all 0.3s ease-in;
  }
  
  .close2:hover {
  background-color: var(--color-rosa);
  }
  .modal-close {
    transform: translateY(-200%);
  }
  
  .modal-textos > h2 {
    color: var(--color-grisos);
    font-family: 'Roboto';
  
  }
  .modal-textos > p {
    color: #004056;
    margin-bottom: 30px;
    font-family: 'Roboto';

  
  }
  
  
  .modal > img{
    height: 40%;
  }
  

  @media (min-width: 768px) {
    
  .modal > img{
    height: 50%;
  }
  }


  @media (min-width: 1024px) {
    
  .modal > img{
    height: 50%;
  }
  }