<!DOCTYPE html>
<html lang="en">
<!-- Include Head -->
<%- include('partials/head') %>

    <body>
        <!-- Header -->
        <%- include('partials/header') %>
            <!-- /Header -->

            <div class="medios-contenedor">

                <div class="medios-sidebar">
                    <ul>
                        <h3>Tienda Online</h3>
                        <li><a href="/pages/medios-de-pago">Medios de Pago</a></li>
                        <li><span><a href="/pages/costos-de-envio">Costos de Envío</a></span></li>
                        <li><a href="/pages/tiempos-de-envio">Tiempos de envío</a></li>
                    </ul>
                    <ul>
                        <h3>Centro de Ayuda</h3>
                        <li><a href="https://www.andreani.com/#!/personas">Seguimiento de Envios</a></li>
                        <li><a href="/pages/preguntas-frecuentes">Preguntas Frecuentes</a></li>
                        <li><a href="https://seguimiento.andreani.com">Estado del Pedido</a></li>
                        <li><a href="/pages/contacto">Contacto</a></li>
                      
                    </ul>
                    <ul>
                        <h3>Legales</h3>
                        <li><a href="/pages/terminos-y-condiciones">Términos y Condiciones</a></li>
                    </ul>
                </div>


                <div class="medios-principal">
                    <h1>Costos de Envío</h1>
                    <h4>Información útil </h4>
                    <h3>¿Quién absorbe el costo de envío de un pedido?</h3>
                    <p>Todos los costos de envío de los pedidos realizados a través de nuestra tienda online son a cargo
                        del usuario, salvo que Eclipse Bodegas y Viñedos indique lo contrario. En la actualidad, el costo de envío
                        se encuentra parcialmente bonificado por parte de la empresa, con un costo para el cliente de
                        $100 pesos por caja equivalente a 6 botellas (6u por caja) a cualquier parte del país y sin mínimo de compra.</p>
                    <h3> ¿Cómo se calcula el costo de envió de un pedido?</h3>
                    <p>El costo de envío se calcula habitualmente combinando dos variables:</p>
                    <ol>
                        <li>Dirección de entrega del pedido</li>
                        <li>Peso del pedido</li>
                    </ol>
                    <p>Cada pedido cuenta con 2 envíos a domicilio y en el caso de no encontrar a nadie en el domicilio
                        el pedido se entregará en la sucursal más cercana al domicilio del usuario. Andreani notificará
                        al usuario por e-mail el estado del pedido en cada instancia. </p>
                    <h3>¿Quién realiza los envíos de los pedidos de la tienda online?</h3>
                    <p>Todos los pedidos realizados a través de la tienda online salen preparados desde nuestro centro
                        de distribución contratado y los distribuye/entrega Andreani.</p>
                    <h3></h3>
                    <h3>¿Con quién me comunico si no recibí mi pedido en el tiempo acordado?</h3>
                    <p>En primer lugar, recomendamos verificar el estado del pedido en la plataforma de seguimiento de
                        envíos de Andreani colocando el número de envío que recibió por e-mail ingresando aquí <a
                            href="https://www.andreani.com/#!/personas">https://seguimiento.andreani.com/</a></p>
                    <p>En segundo lugar, puede comunicarse al número de atención al cliente de Andreani 0810-122-1111 /
                        0800-122-1112 las 24 horas, los 7 días de la semana. Recomendamos siempre tener a mano su número
                        de envío de pedido que lo va a encontrar en su casilla de e-mail.</p>

                </div>

            </div>




            <!-- footer -->
            <%- include('partials/footer') %>
                <!-- /footer -->

    </body>

</html>