<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

    <body>
        <div class="logo-eclipse"><a href="/"><img src="/images/logo.png" alt=""></a></div>

        <div class="contenedor-principal-creadores">
            <h2>CREADORES</h2>

            <div class="contenedor-perfil-creadores">
                <div class="contenedor-creador">
                    <h4>Sergio Mariño</h4>
                    <img src="/images/sergio.jpg" alt="">
                    
                        <p>28 Años, estudiante de economía actuarial en la uba, programador full stack, diseñador
                            gráfico
                            aficionado, y fanático Boca.</p>
                </div>

                <div class="contenedor-creador">
                    <h4>Giselli Montania </h4>
                    <img src="/images/gise.jpg" alt="">
                    
                    <p> 30 años, Auxiliar Farmacéutica. Estudiante de Programacion Web Full Stack
                        (Formar con Digital House) y estudiante de Licenciatura en Sistemas (UNLa).
                    </p>
                </div>
            </div>



            <div class="contenedor-palabras">
                <p>
                    Eclipse es nuestro primer proyecto en el mundo de la programación siempre tendremos un cariño muy especial por él, hemos recorrido un largo camino de mas de 7 meses y queriamos dedicar éste espacio para agradecer a las personas que nos acompañaron y nos formaron en éste recorrido, nada de ésto hubiese sido posible sin su ayuda. Agradecemos profundamente a Victoria Fornieles, a Eric Mena y a Maximiliano Demichieli, seguiremos formandonos en el mundo de la programación con gran pasión, convicción y dedicación como lo hemos echo hasta ahora.
                </p>
            </div>


            <div class="fotos-profes">
                <div class="contenedor-profe"><img src="/images/eric.jpg" alt="">
                    <p>Eric Mena</p>
                </div>
                <div class="contenedor-profe"><img src="/images/vicky.jpg" alt="">
                    <p>Victoria Fornieles</p>
                </div>
                <div class="contenedor-profe"><img src="/images/maxi.jpg" alt="">
                    <p>Maximiliano Demichieli</p>
                </div>
            </div>



            <div class="logos-patrocinadores">
                <img src="/images/dh.png" alt="">
                <img src="/images/sa.png" alt="">
                <img src="/images/fo.png" alt="">
            </div>
        </div>


















        <!-- JQUERY -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
        <!-- POPPER JS -->
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
        <!-- BOOTSTRAP -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>
    </body>

</html>