<!DOCTYPE html>
<html lang="en">
<!-- Include Head -->
<%- include('partials/head') %>

	<body>
		<!-- Header -->
		<%- include('partials/header') %>
			<!-- /Header -->
<section class="vista-producto-detail">
			<div class="container contenedor-detailProduct">
				<div class="d-flex justify-content-around">
					<div class="col-10 col-md-6 caja-detailProduct">

						<img src="/images/producto1.png" alt="">
						<div class="title-product-detail">
							<h4>Famiglia Bianchi Malbec</h4>
						</div>

						<div class="tachado">
							<h4>$3000</h4>
						</div>
						<div class="precio">
							<h2>$2700</h4>
								<div class="descuento-detail"><span>10 % off</span>
								</div>
						</div>
						<div class="medios-de-pago">
							<div class="title-medios-de-pago">
								<i class="fas fa-credit-card"></i>
								<h4>Medios de Pago</h4>
								<a href="">
									<p>Ver medios de pago</p>
								</a>
							</div>
							<div class="iconos-medios-de-pago">
								<i class="fab fa-cc-visa"></i>
								<i class="fab fa-cc-mastercard"></i>
								<i class="fab fa-cc-amex"></i>
							</div>

						</div>
						<div class="tiempo-de-envio">
							<div class="title-tiempos-de-envio">
								<i class="far fa-clock"></i>
								<h4>Tiempos de Envio</h4>
								<a href="">
									<p>Tiempos de envio</p>
								</a>
							</div>
						</div>
						<div class="agregar-cantidad">
							<div class="selector-de-cantidad">
								<div class="number-input">
									<button
										onclick="this.parentNode.querySelector('input[type=number]').stepDown()"></button>
									<input class="quantity" min="0" name="quantity" value="1" type="number">
									<button onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
										class="plus"></button>
								</div>
							</div>
						</div>
						<div class="button-confirma-producto">
							<button type="button" class="button-compra">Agregar al carrito</button>
						</div>
					</div>
				</div>
			</div>
			</div>
		</section>



			<section class="datos-producto">
				<div class="container">
					<div class="row">
						<div class="col-12 descripcion">
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit fugiat perferendis
								voluptates eligendi ipsum doloremque, ipsam, praesentium ab vitae ipsa sequi! Minus
								eaque perspiciatis, asperiores blanditiis a reiciendis est numquam.</p>
						</div>
						<section class="especificaciones">
							<table class="table table-sm table-dark tabla-especificaciones">

								<tbody>
									<tr>
										<td class="title-table">varietal</td>
										<td class="contenido-table">100% Malbec</td>
									</tr>
									<tr>
										<td class="title-table">añada</td>
										<td class="contenido-table">2019</td>
									</tr>

									<tr>
										<td class="title-table">tipo de barrica</td>
										<td class="contenido-table">Roble Frances</td>
									</tr>

									<tr>
										<td class="title-table">tiempo en barrica</td>
										<td class="contenido-table">8 Meses</td>
									</tr>

									<tr>
										<td class="title-table">tiempo en botella</td>
										<td class="contenido-table">Manual</td>
									</tr>
									<tr>
										<td class="title-table">terroir</td>
										<td class="contenido-table">Blend de Terroir: San Rafael y Valle de Uco,
											Mendoza, Argentina</td>
									</tr>

									<tr>
										<td class="title-table">finca</td>
										<td class="contenido-table">Doña Elsa</td>
									</tr>
								</tbody>
							</table>

						</section>

					<section class="contenedor-cata">

						<table class="table table-dark cata-producto">
							<thead>
								<tr>
									<th scope="col"></th>
									<th class="title-table" scope="col">Notas de cata</th>

								</tr>
							</thead>
							<tbody>
								<tr>
									<th class="title-table" scope="row"><i class="far fa-eye"></i></th>
									<td>Color muy atractivo, profundo con destacados tonos violáceos.</td>

								</tr>
								<tr>
									<th class="title-table" scope="row"><img src="/images/nose.png" alt=""> </th>
									<td>Al destapar una botella, nos deleita con una complejidad de aromas que
										entremezclan notas frescas, frutos rojos como ciruelas maduras, frutos
										negros y una delicada mineralidad que favorece aún más la frescura. Muy
										bien
										acomplejadas por dejos de vainilla provenientes de su paso por roble.
									</td>

								<tr>
									<th class="title-table" scope="row"><img src="/images/lips.png" alt=""> </th>
									<td>De taninos suaves y maduros, con muy buen equilibrio ácido en boca,
										refrescante, encontrándose las mismas notas de frutas que en nariz. Muy
										buen
										final de boca, equilibrado y elegante.</td>

								</tr>
							</tbody>
						</table>
				
			</section>



			<!-- footer -->
			<%- include('partials/footer') %>
				<!-- /footer -->
	</body>

</html>