<!DOCTYPE html>
<html lang="en">
  <%-include("partials/head")%>
  <body>
<%-include("partials/header")%>

<main class="container-register-login">
<form action="" method="post" class="form-register"id="form">
  <div class="form-register-div">
    <h1>CREAR CUENTA</h1>
    <p>Si todavia no tienes una Cuenta en Eclipse, registrate ingresando estos datos:</p>

    <div class="gruop-register">
      <input type="text" name="" id="name" required><span class="barra"></span>
      <label class="label-register" for="">Nombre</label>
    </div> 

    <div class="gruop-register">
      <input type="text" name="" id="lastname" required><span class="barra"></span>
      <label class="label-register" for="">Apellido</label>
    </div> 

    <div class="gruop-register">
      <input type="date" name="" id="date" required><span class="barra" placeholder=""></span>
      <label class="label-register" for="">Fecha de Nacimiento</label></div> 

  
      <div class="gruop-register">
        <label class="label-select-register" for="" >Género</label>
   <select name="discount" id="discount" class="select-register" required>
    <option value="">Seleccione una opción</option>
     <option class="form-option" value="1">Masculino</option>
     <option class="form-option" value="2">Femenino</option></select>
  </div> 
  
   

    <div class="gruop-register">
      <input type="email" name="" id="email" required><span class="barra"></span>
      <label class="label-register" for="">Email</label>
    </div> 

    <div class="gruop-register">
      <input type="password" name="" id="password1" required><span class="barra"></span>
      <label class="label-register" for="">Contraseña</label>
    </div> 

    <div class="gruop-register">
      <input type="password" name="" id="password2" required><span class="barra"></span>
      <label class="label-register" for="">Reingrese Contraseña</label>
    </div> 

  


<button class="submit-form-register" type="submit">Registrarse</button>
    
  </div>
</form>




<form action="" method="post" class="form-register"id="form">
  <div class="form-register-div">
    <h1>INGRESAR</h1>
    <p>Si ya estas Registrado en Bodegas Eclipse, ingresa en tu cuenta con tu Email y la contraseña adecuada:</p>

    <div class="gruop-register">
      <input type="text" name="" id="name" required><span class="barra"></span>
      <label class="label-register" for="">Nombre</label>
    </div> 

    <div class="gruop-register">
      <input type="text" name="" id="lastname" required><span class="barra"></span>
      <label class="label-register"for="">Apellido</label>
    </div>  
<button class="submit-form-register" type="submit">Ingresar</button>
    
  </div>
</form>



</main>
<%- include("partials/footer") %>
<script src="/javascripts/placeholderDate.js"></script> 
</body>
</html>