<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style-loginRegister.css">
    <title>LOGIN</title>
</head>
<body>
    <div class="container-login">
        <div class="row">
    
          
    
            <div class="title">
              <h1> INGRESAR</h1>
            </div>
            <div class="login-description">
            
              Si ya estas registrado en Bodegas Eclipse, ingresa con tu correo electronico y contraseña.
    
            </div>
            <form class="login" action="" method="POST">
      
                <input class="controls" type="email" name="email" id="email" placeholder="CORREO ELECTRONICO">
                <input class="controls" type="password" name="email" id="password" placeholder="CONTRASEÑA">
                <input type="submit" class="button" value="INGRESAR">
             

            </form>
        
  <div class="link">
    <a href="/views/register.ejs">¿Todavia no estas registrado?Registrate.</a>

  </div>
    </div>
     </div>
</body>
</html>