<!DOCTYPE html>
<html lang="en">
  <%-include("partials/head")%>

<%-include("partials/header")%>



<body>
<!--login  -->
    <div class="container-log">
        <div class="d-flex justify-content-around">
          <div class="col-10 container-login">
          
                  <div class="title-login">
                    <h1> INGRESAR</h1>
                  </div>
                  <div class="login-description">
                  
                    Si ya estas registrado en Bodegas Eclipse, ingresa con tu correo electronico y contraseña.
          
                  </div>
                  <form class="login" action="" method="POST">
            
                      <input class="controls-login" type="email" name="email" id="email" placeholder="CORREO ELECTRONICO">
                      <input class="controls-login" type="password" name="email" id="password" placeholder="CONTRASEÑA">
                      <input type="submit" class="button-login" value="INGRESAR">
                   
      
                  </form>
                
          </div>
           </div>

<!--registro -->
          </div>
          <div class="container-log">
            <div class="d-flex justify-content-around">
              <div class="col-10 container-login">
              
                      <div class="title-login">
                        <h1> REGISTRARSE</h1>
                      </div>
                      <div class="login-description">
                      
                        registrate en BODEGAS ECLIPSE ingresando tus datos.
              
                      </div>
                      <form class="login" action="" method="POST">


                        <input class="controls-login" type="text" name="name" id="name" placeholder="NOMBRE">
                        <input class="controls-login" type="text" name="last-name" id="last-name" placeholder="APELLIDO">
                        <input class="controls-login" type="email" name="email" id="email" placeholder="CORREO ELECTRONICO">
                        <input class="controls-login" type="password" name="email" id="password" placeholder="CONTRASEÑA">
                        <input type="submit" class="button-login" value="REGISTRARSE">
              
                       
          
                      </form>
                    
              </div>
               </div>
              </div>
       
              <%-include("partials/footer")%>
          
          
          
          
          <!-- JQUERY -->
          <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
          integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
          crossorigin="anonymous"></script>
          <!-- POPPER JS -->
          <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
          integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
          crossorigin="anonymous"></script>
          <!-- BOOTSTRAP -->
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
          integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
          crossorigin="anonymous"></script>
</body>
</html>