<!DOCTYPE html>
<html lang="en">
<!-- Include Head -->
<%- include('partials/head') %>

    <body>
        <!-- Header -->
        <%- include('partials/header') %>
            <!-- /Header -->

            <div class="medios-contenedor">

                <div class="medios-sidebar">
                    <ul>
                        <h3>Tienda Online</h3>
                        <li><span><a href="/pages/medios-de-pago">Medios de Pago</a></span></li>
                        <li><a href="/pages/costos-de-envio">Costos de Envío</a></li>
                        <li><a href="/pages/tiempos-de-envio">Tiempos de envío</a></li>
                    </ul>
                    <ul>
                        <h3>Centro de Ayuda</h3>
                        <li><a href="https://www.andreani.com/#!/personas">Seguimiento de Envios</a></li>
                        <li><a href="/pages/preguntas-frecuentes">Preguntas Frecuentes</a></li>
                        <li><a href="https://seguimiento.andreani.com">Estado del Pedido</a></li>

                    </ul>
                    <ul>
                        <h3>Legales</h3>

                        <li><a href="/pages/terminos-y-condiciones">Términos y Condiciones</a></li>
                    </ul>
                </div>


                <div class="medios-principal">
                    <h1>Medios de Pago</h1>
                    <p>Podes pagar con Tarjeta de Crédito, Tarjeta de Débito y Efectivo y aprovechar nuestras
                        promociones bancarias y pagos sin interés!</p>
                    <h3>Opción 1 : Tarjeta de credito</h3>
                    <h4>Formas de financiación con tarjeta</h4>
                    <p>Ingresas los datos de tu tarjeta de crédito al pagar y listo. La próxima vez que quieras usar
                        esta tarjeta, solo te pediremos el código de seguridad.</p>
                    <p><img src="/images/pages/tarjetas1.webp"
                            alt=""></p>
                    <ul>
                        <li>Promociones Bancarias de Cuotas sin interés vigentes - <a
                                href="https://www.mercadopago.com.ar/cuotas" target="_blank"
                                title="Cuotas MercadoPago">Ingrese Aquí</a>
                        </li>
                    </ul>
                    <h3>Opción 2: Tarjeta de Débito</h3>
                    <p>Ingresas los datos completos una sola vez y en futuras compras solo te pediremos el código de
                        seguridad.</p>
                    <p><img src="/images/pages/tarjetas2.webp"
                            alt=""></p>
                    <h3>Opción 3: Efectivo en Puntos de Pago</h3>
                    <p>Al momento de pagar te diremos cómo hacerlo y dónde ir. Nada de ir a bancos y hacer largas colas,
                        ¡verás que es muy simple!</p>
                    <p><img src="/images/pages/tarjetas3.webp"
                            alt=""></p>
                    <h3>DEVOLUCIONES DE DINERO</h3>
                    <p>Sabemos que en ocasiones las cosas no salen como uno espera. Lo bueno es que la mayoría de las
                        veces es posible volver atrás. Contáctate con nuestro centro de servicio al cliente (link al
                        centro de contacto) de lunes a viernes de 9.30hs a 15.00hs y te devolveremos el dinero a tu
                        cuenta de Mercado Pago.</p>
                    <h4>Si pagas con tarjeta de crédito:</h4>
                    <p>Te devolveremos el pago y Mercado pago pedirá una anulación del cargo. Es posible que la veas
                        reflejada en el resumen online de tu tarjeta de crédito unos días hábiles después.</p>
                    <p>Ten en cuenta la fecha de cierre de tu tarjeta de crédito. Si la anulación del pago se hizo
                        después del cierre, la verás reflejada en el resumen siguiente.</p>
                    <p>Si pagaste en cuotas, ten en cuenta que cada tarjeta anula los cargos de manera diferente. Es
                        común que devuelvan el dinero de la cuota ya cobrada y anulen las siguientes</p>
                    <h4>Si pagas con un medio de pago en efectivo:</h4>
                    <p>Apenas te devolvamos el pago, Mercado Pago dejará el dinero disponible en tu cuenta.</p>
                    <h3>SEGURIDAD EN TU COMPRA</h3>
                    <h4>PRIVACIDAD ABSOLUTA</h4>
                    <p>Mercado Pago protege la información en el trayecto que va de tu computadora, smartphone o tablet
                        hasta su servidor. Encriptan los datos en forma segura (TLS) y así cumplen con los más altos
                        estándares de seguridad online.<br>PCI-DSS monitorea y certifica lo que hacen.</p>
                    <p>Así que despreocúpate, nadie verá tus datos financieros. Solo nos llegará el pago y tu e-mail.
                    </p>
                    <h4>TRANQUILIDAD EN TUS COMPRAS</h4>
                    <p>Mercado Pago se encarga de proteger tu dinero hasta que tengas tu compra.</p>
                    <p>Cuando pagas, podemos ver el dinero en nuestra cuenta, pero tenemos que esperar para poder
                        usarlo. Mercado Pago lo diseño así para que tengas tiempo de recibir el producto y evaluarlo.
                    </p>

                </div>

            </div>




            <!-- footer -->
            <%- include('partials/footer') %>
                <!-- /footer -->

    </body>

</html>