<!DOCTYPE html>
<html lang="en">
<!-- Include Head -->
<%- include('partials/head') %>

    <body>
        <!-- Header -->
        <%- include('partials/header') %>
            <!-- /Header -->

            <div class="medios-contenedor">

                <div class="medios-sidebar">
                    <ul>
                        <h3>Tienda Online</h3>
                        <li><a href="/pages/medios-de-pago">Medios de Pago</a></li>
                        <li><a href="/pages/costos-de-envio">Costos de Envío</a></li>
                        <li><a href="/pages/tiempos-de-envio">Tiempos de envío</a></li>
                    </ul>
                    <ul>
                        <h3>Centro de Ayuda</h3>
                        <li><a href="https://www.andreani.com/#!/personas">Seguimiento de Envios</a></li>
                        <li><span><a href="/pages/preguntas-frecuentes">Preguntas Frecuentes</a></span></li>
                        <li><a href="https://seguimiento.andreani.com">Estado del Pedido</a></li>
                        <li><a href="/pages/contacto">Contacto</a></li>
                      
                    </ul>
                    <ul>
                        <h3>Legales</h3>
                        <li><a href="/pages/terminos-y-condiciones">Términos y Condiciones</a></li>
                    </ul>
                </div>


                <div class="medios-principal">
                    <h1>Preguntas Frecuentes</h1>
           <h3>¿Cómo comprar?</h3>
<h4>Seguí los siguientes pasos</h4>
<ul>
<li>
<p>Buscá el producto que quieras adquirir y hacé click en el botón <b>AGREGAR</b> para sumarlo al carrito</p>
</li>
<li>
<p>Si se trata de un artículo que ofrece variantes (por ejemplo, por botella o por caja), podés ingresar al detalle cliqueando el producto y allí elegir el formato deseado</p>
</li>
<li>
<p>Para finalizar el pedido, oprimí <b>COMPRAR</b> al final del carrito (el ícono del carrito se encuentra en la esquina superior derecha) y verificá los precios y cantidades de tu compra. Podés sumar, restar o eliminar cajas (haciendo click en <b>+</b>, <b>-</b> o <b>x</b>, respectivamente)</p>
</li>
<li>
<p>En caso de que necesites una factura A, tildá el casillero "Necesito factura A", completá tu número de CUIT y de ingresos brutos en los campos correspondientes y hacé click en <b>SIGUIENTE</b></p>
</li>
<li>
<p>Completá tus datos de contacto y envío, verificando muy bien que la dirección esté completa y el mail sea válido (los errores en este punto pueden generar demoras en la preparación o entrega del pedido)</p>
</li>
<li>
<p>Ingresá en <b>Continuar con envíos</b>, corroborá los datos de contacto y entrega, el costo de envío y el importe total de tu compra</p>
</li>
<li>
<p>De existir algún error, podés regresar a la pantalla anterior desde <span color="#B8860B" style="color: #b8860b;">&lt; Volver a información</span>. De lo contrario, cliqueá en <b>Continuar con el pago</b>, y luego, <b>Finalizar el pedido</b></p>
</li>
<li>
<p>Esto te redirigirá a la página de Mercado Pago, donde podrás elegir el medio y método de pago que prefieras</p>
</li>
<li>
<p>¡Listo! Una vez concretado el pago vas a recibir un mail de Mercado Pago con el cupón correspondiente a tu compra</p>
</li>
<li>
<p>También vas a recibir un mail de Eclipsei confirmando el pedido, mientras que Andreani te informará los códigos de seguimiento de tus cajas para que puedas rastrear la entrega</p>
</li>
</ul>
<h4>Tengo un cupón de descuento, ¿cómo lo uso?</h4>
<ul>
<li>
<p>Si recibiste un cupón de descuento o tarjeta de regalo, utilizalo en tu compra antes de efectuar el pago.</p>
</li>
<li>
<p>Al llegar a la pantalla de información de contacto y dirección de envío, en el panel lateral derecho vas a encontrar un campo donde cargar tu cupón o tarjeta de regalo. Copiá y pegá el código, o escribilo tal cual lo recibiste (en mayúsculas y sin espacios). Luego, hacé click en el botón <b>Usar</b> para que se valide y aplique.</p>
</li>
<li>
<p>Si aparece una notificación informando que el código no es válido para los artículos que elegiste, verificá las condiciones del cupón. Algunos descuentos tienen un monto mínimo de compra, se aplican a productos específicos o solo pueden utilizarse una vez.</p>
</li>
<li>
<p>Cualquier duda o consulta, comunícate con nosotros a través del chat de nuestra tienda o envianos un mail a <a href="mailto:contacto@eclipse.com.ar">contacto@Eclipse.com.ar</a></p>
</li>
</ul>
<h3>¿Cuándo llega mi pedido?</h3>
<ul>
<li>
<p>Podés consultar el tiempo estimado de demora según tu zona en la sección <a href="/pages/tiempos-de-envio">Tiempos de Envío</a>. Tené en cuenta que tanto los tiempos de preparación y despacho como los de distribución se miden en días hábiles.</p>
</li>
<li>
<p>Para verificar el estado del pedido, copiá el número de envío de 15 dígitos de Andreani en la plataforma de seguimiento de envíos ingresando aquí: <a href="https://seguimiento.andreani.com/">https://seguimiento.andreani.com/</a>.</p>
</li>
</ul>
<h4>El seguimiento de mi envío no tiene información</h4>
<ul>
<li>
<p>Dependiendo del horario en el que se haya confirmado la compra, el despacho de tu pedido puede demorar hasta 48 horas hábiles en efectuarse, por lo que durante los primeros días no estará disponible el seguimiento de Andreani. Si pasadas 72 horas hábiles tu envío continúa sin información, comunicate con nuestro número de atención al cliente: 0800 222 3500 de lunes a viernes de 9:00 a 18:00 h, o envianos tu consulta a <a href="mailto:contacto@eclipse.com.ar">contacto@eclipse.com.ar</a>.</p>
</li>
</ul>
<h4>No me entregaron el pedido completo</h4>
<ul>
<li>
<p>Si hiciste un pedido de varias cajas, es posible que no las recibas todas en una misma visita debido a la alta demanda de pedidos en la zona de distribución.</p>
</li>
<li>
<p>Cada caja de tu compra tiene un código de seguimiento único para que puedas revisar el estado del envío faltante. Si pasadas 48 horas todavía no completaron la entrega, comunícate con nuestro <a href="/pages/contacto">centro de atención</a> para que verifiquemos lo sucedido.</p>
</li>
</ul>
<h3>Problemas con la entrega</h3>
<h4>Andreani me notificó que no pudieron entregar mi pedido</h4>
<ul>
<li>
<p>Si recibiste una notificación informando que tu pedido se vio afectado por un siniestro o no pudieron entregarlo, contactanos a través de nuestro <a href="/pages/contacto">centro de atención</a> detallando tu número de pedido y cuál fue el producto que no recibiste. Te lo enviaremos nuevamente y te informaremos el nuevo código de seguimiento.</p>
</li>
</ul>
<h4>Me llegó un mensaje informando que no me encontraron en mi domicilio, pero nunca pasaron</h4>
<ul>
<li>
<p>Si el seguimiento de tu envío detalla un intento de visita fallida, es posible que haya un error en el domicilio de entrega informado a Andreani. Comunicate con nuestro <a href="/pages/contacto">centro de atención</a> y detallanos tu domicilio de la manera más completa posible: calle, altura, piso, depto, manzana, lote, barrio, entre calles y (¡muy importante!) código postal y localidad.</p>
</li>
</ul>
<h4>Andreani informa que ya entregaron el pedido, pero yo no lo recibí</h4>
<ul>
<li>
<p>Si el estado de tu envío figura ya entregado, en principio, te pedimos que consultes si lo recibió otra persona en tu domicilio. Si vivís en un edificio o en un barrio cerrado, verificá también si no fue entregado al encargado o a la seguridad del lugar.</p>
</li>
<li>
<p>Para conocer quién recibió tu pedido, ingresá tu código de seguimiento en el portal de Andreani <a https:="" www="" andreani="" com="" personas="">https://www.andreani.com/#!/personas</a>. Si no figuran los datos del receptor, comunícate con nuestro <a href="/pages/contacto">centro de atención</a> para verificar lo sucedido y garantizar la correcta entrega de tu compra.</p>
</li>
</ul>
<h4>Mi pedido llegó roto, en malas condiciones o no es lo que compré</h4>
<ul>
<li>
<p>Es muy importante rechazar la entrega de cualquier producto dañado, erróneo o en malas condiciones. Nosotros nos encargaremos de reenviarlo en el menor tiempo posible para que puedas recibir tu pedido en condiciones.</p>
</li>
<li>
<p>Si ya lo recibiste, podés devolverlo sin costo adicional dentro de los 10 días siguientes al momento de recibir tu compra. Envianos tu reclamo a <a href="mailto:contacto@eclipe.com.ar">contacto@Eclipse.com.ar</a> y reenviaremos el producto o te reintegraremos el dinero a través del mismo medio de pago por el que realizaste la compra.</p>
</li>
<li>
<p>No te olvides de devolver el pedido de la misma forma en que te lo entregamos, en el mismo envoltorio.</p>
</li>
</ul>
                </div>

            </div>




            <!-- footer -->
            <%- include('partials/footer') %>
                <!-- /footer -->

    </body>

</html>