<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style-loginRegister.css">
    <title>REGISTRO</title>
</head>
<body>
    <div class="container-login"> 
        
    <div class="row" >

      

      <div class="title">

        <h1>CREAR CUENTA</h1>

      </div>
      <div class="subtitle">
        <div class="login-description">
            
          registrate en BODEGAS ECLIPSE ingresando tus datos.

        </div>
      </div>
      <form class="login" action="" method="POST">

        <input class="controls" type="text" name="name" id="name" placeholder="NOMBRE">
        <input class="controls" type="text" name="last-name" id="last-name" placeholder="APELLIDO">
        <input class="controls" type="email" name="email" id="email" placeholder="CORREO ELECTRONICO">
        <input class="controls" type="password" name="email" id="password" placeholder="CONTRASEÑA">
        <input type="submit" class="button" value="REGISTRARSE">
      
        
      </form>
      <div class="link">
        <a href="/views/login.ejs">¿Ya tenes cuenta?Inicar sesion.</a> 
      </div>
    </div>
    
        </div>

  

</body>
</html>