<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style-loginRegister.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

  <title>REGISTRO</title>
</head>

<body>
  <div class="container">
    <div class="d-flex justify-content-around">
      <div class="col-10 container-login">


        <div class="title">

          <h1>CREAR CUENTA</h1>

        </div>
        <div class="subtitle">
          <div class="login-description">

            registrate en BODEGAS ECLIPSE ingresando tus datos.

          </div>
        </div>
        <form class="login" action="" method="POST">

          <input class="controls" type="text" name="name" id="name" placeholder="NOMBRE">
          <input class="controls" type="text" name="last-name" id="last-name" placeholder="APELLIDO">
          <input class="controls" type="email" name="email" id="email" placeholder="CORREO ELECTRONICO">
          <input class="controls" type="password" name="email" id="password" placeholder="CONTRASEÑA">
          <input type="submit" class="button" value="REGISTRARSE">


        </form>
        <div class="link">
          <a href="/login">¿Ya tenes cuenta?Inicar sesion.</a>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
    integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
    integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
    crossorigin="anonymous"></script>

</body>

</html>