<!DOCTYPE html>
<html lang="en">
<!-- Include Head -->
<%- include('partials/head') %>

    <body>
        <!-- Header -->
        <%- include('partials/header') %>
            <!-- /Header -->

            <div class="medios-contenedor">

                <div class="medios-sidebar">
                    <ul>
                        <h3>Tienda Online</h3>
                        <li><a href="/pages/medios-de-pago">Medios de Pago</a></li>
                        <li><a href="/pages/costos-de-envio">Costos de Envío</a></span></li>
                        <li><span><a href="/pages/tiempos-de-envio">Tiempos de envío</a></span></li>
                    </ul>
                    <ul>
                        <h3>Centro de Ayuda</h3>
                        <li><a href="https://www.andreani.com/#!/personas">Seguimiento de Envios</a></li>
                        <li><a href="/pages/preguntas-frecuentes">Preguntas Frecuentes</a></li>
                        <li><a href="https://seguimiento.andreani.com">Estado del Pedido</a></li>
                        <li><a href="/pages/contacto">Contacto</a></li>
                      
                    </ul>
                    <ul>
                        <h3>Legales</h3>
                        <li><a href="/pages/terminos-y-condiciones">Términos y Condiciones</a></li>
                    </ul>
                </div>


                <div class="medios-principal">
                    <h1>Tiempos de Envío</h1>
                  
         <h3>TIEMPO DE ENVÍO POR ZONA O TIPO DE ENTREGA</h3>
         <p>Colocá tu numero de seguimiento de envío <a href="https://www.andreani.com/#!/personas">aquí</a></p>
         <p><b>POR FAVOR, TENER EN CUENTA QUE LOS ENVÍOS SE REALIZAN EN DÍAS HÁBILES, LOS FINES DE SEMANA Y LOS FERIADOS NO CUENTAN COMO DÍA HÁBIL.</b></p>
         <p><strong>NO REALIZAMOS ENVÍOS INTERNACIONALES</strong></p>
         <p><img src="/images/pages/mapa1.png" alt="" width="296" height="545"><br><img src="/images/pages/mapa2.png" alt="" width="300" height="150"></p>
         <p><img src="/images/pages/mapa3.jpg" alt="" width="550" height="200"></p>
         <h4><b>POR FAVOR, TENER EN CUENTA QUE LOS ENVÍOS SE REALIZAN EN DÍAS HÁBILES, LOS FINES DE SEMANA Y LOS FERIADOS NO CUENTAN COMO DÍA HÁBIL.</b></h4>
         <p><b>LOS DÍAS NO<span> </span>HÁBILES NO CUENTAN EN LOS TIEMPOS DE ENTREGA.</b></p>
         <h4>¿Quién realiza los envíos de los pedidos de la tienda online?</h4>
         <p>Todos los pedidos realizados a través de la tienda online salen preparados desde nuestro centro de distribución contratado y los distribuye/entrega Andreani.</p>
         <h4>¿Cómo verifico el estado de mi pedido?</h4>
         <p>Te enviaremos un correo con el número de envío de Andreani. Para verificar el estado del pedido, copiá el número de envío en la plataforma de seguimiento de Andreani ingresando aquí: <a href="https://seguimiento.andreani.com/">https://seguimiento.andreani.com/</a>. También te enviaremos un e-mail para que estés al tanto del estado del pedido en cada instancia. </p>
         <h4>¿Cuándo empiezan a correr los tiempos de envío de la entrega del pedido?</h4>
         <p>Los tiempos de envío comienzan a correr cuando Andreani retira el pedido por el centro de distribución contratado por Bodegas Bianchi. Andreani notificará al usuario por e-mail el estado del pedido.</p>
         <h4>¿Qué días se realizan las entregas?</h4>
         <p>Las entregas se realizan de Lunes a Viernes de 9:00 a 18:00 h y, dependiendo de la zona de entrega, algunas sucursales también realizan repartos los sábados hasta el mediodía. En el caso de no encontrar a nadie que reciba el pedido, el operador logístico volverá a pasar por su domicilio a las 48 horas hábiles. De no poder concretar la entrega en la segunda instancia, lo entregará en la sucursal de Andreani más cercana al domicilio, notificando al usuario por e-mail en todas las instancias.</p>
         <h4> ¿Quién puede recibir el pedido?</h4>
         <p>Durante las dos primeras visitas, cualquier persona mayor a 18 años que exhiba su documento podrá recibir el pedido en el domicilio pactado. En caso de que no se haya podido entregar y deba ser retirado desde la sucursal Andreani más cercana, deberá presentarse el titular que realizó la compra con su DNI o cualquier individuo autorizado con la siguiente información:</p>
         <p>- Nombre y Apellido del titular<br>- DNI del titular<br>- Nombre y Apellido del autorizado<br>- DNI del autorizado<br>- Número/s de envío<br>- Nota firmada por el titular que realizó la compra que autoriza a retirar el pedido</p>
         <h4>¿Con quién me comunico si no recibí mi pedido en el tiempo acordado?</h4>
         <p>En primer lugar, recomendamos verificar el estado del pedido en la plataforma de seguimiento de envíos de Andreani colocando el número de envío que recibió por e-mail ingresando aquí: <a href="https://seguimiento.andreani.com/">https://seguimiento.andreani.com/</a></p>
         <p>En segundo lugar, podés comunicarte con nuestro número de atención al cliente 0800-222-3500 de lunes a viernes de 9:00 a 18:00 h, consultarnos por mail a contacto@bodegasbianchi.com.ar, o a través del chat en vivo de nuestra tienda (disponible de lunes a viernes de 8:00 a 21:00 h).</p>
         <p> </p>
                </div>

            </div>




            <!-- footer -->
            <%- include('partials/footer') %>
                <!-- /footer -->

    </body>

</html>