<footer>

  <div class="col-12 container-footer">
    <nav class="col-5 tienda-online">
      <h4>Tienda Online</h4>
      <ul>
        <a href="">
          <li>Vinos Tintos</li>
        </a>
        <a href="">
          <li>Vinos Blancos</li>
        </a>
        <a href="">
          <li>Espumantes</li>
        </a>
        <a href="">
          <li>Medios de Pago</li>
        </a>
        <a href="">
          <li>Costos de Envio</li>
        </a>
        <a href="">
          <li>Tiempos de Envio</li>
        </a>
      </ul>
    </nav>

    <nav class="col-5 centro-de-ayuda">
      <h4>Centro de Ayuda</h4>
      <ul>
        <a href="">
          <li>Seguimiento de Envíos</li>
        </a>
        <a href="">
          <li>Preguntas Frecuentes</li>
        </a>
        <a href="">
          <li>Dejanos tu mensaje</li>
        </a>
        <a href="">
          <li>Estado del pedido</li>
        </a>
      </ul>
    </nav>

    <nav class="col-12 newsletter">
      <h4>Suscribite a nuestro Newsletter</h4>
      <p>Enterate de nuestras promociones y novedades</p>
      <form action="">
        <input type="email" placeholder="EMAIL">
        <button type="submit">
          <i class="far fa-envelope"></i>
        </button>
      </form>



    </nav>

    <nav class="redes-sociales">
      <h4>Seguinos en nuestras redes sociales</h4>
      <div class="iconos"><a href=""><i class="fab fa-facebook-square"></i></a>
        <a href=""><i class="fab fa-instagram"></i></a>
        <a href=""><i class="fab fa-twitter"></i></a>
      </div>
      <span><a href="mailto:contacto@eclipsebodega.com">contacto@eclipsebodega.com</a></span>
    </nav>

  </div>

  <nav class="col-12 copyright">
    <h4> BODEGA ECLIPSE . TODOS LOS DERECHOS RESERVADOS</h4>
  </nav>

</footer>




<!-- JQUERY -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
crossorigin="anonymous"></script>
<!-- POPPER JS -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
crossorigin="anonymous"></script>
<!-- BOOTSTRAP -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/glider-js@1.7.3/glider.min.js"></script>
<script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>
<script src="/javascripts/carousel.js"></script>
<script src="/javascripts/carusel2.js"></script>
<script src="/javascripts/modal.js"></script>