<!--PRODUCTOS 1-->
<section class="col-5 col-md-3 col-lg-2 producto-box">
    <figure class="imagen-producto">
      <img src="/images/producto1.png" alt="">
    </figure>
    <div class="envio-promo"><span>Envio gratis</span></div>
    <div class="descuento"><span> 10 % OFF </span></div>
    <article class="datos-articulo">
      <h2>
        Famiglia Bianchi Malbec
      </h2>
      <div class="precio">
        <span class="precio-real">$2000</span>
        <span class="precio-desc">$1800</span>
      </div>
      <div class="button-agregar">
        <button type="button" class="button-compra">Agregar</button>
      </div>
    </article>
  </section>
  <!--PRODUCTOS 1-->