<header>
    <div class=".header-container">
      <div class="col-12 container-logo">
        <a href="/"><svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 960 560"
            style="enable-background:new 0 0 960 560;" xml:space="preserve">
            <style type="text/css">
              .st0 {
                fill: none;
              }
  
              .st1 {
                fill: #212222;
              }
  
              .st2 {
                font-family: 'CinzelDecorative-Bold';
              }
  
              .st3 {
                font-size: 110px;
              }
  
              .st4 {
                font-family: 'Verdana';
              }
  
              .st5 {
                font-size: 55px;
              }
            </style>
            <g id="Capa_1_1_">
  
              <image style="display:none;overflow:visible;enable-background:new    ;" width="819" height="372"
                xlink:href="8822EC64.png" transform="matrix(1.1294 0 0 1.1667 24 31)">
              </image>
              <rect x="149" y="248" class="st0" width="495" height="95" />
              <text transform="matrix(1 0 0 1 149 325)" class="st1 st2 st3">ECLIPSE</text>
              <rect x="89" y="370" class="st0" width="644" height="88" />
              <text transform="matrix(1 0 0 1 89 411.7998)" class="st1 st4 st5">BODEGAS Y VIÑEDOS</text>
            </g>
            <g id="Capa_2">
              <path class="st1" d="M503.5,119.5c12.6-7.1,110.7-60.6,208-15.5c36.8,17,60.9,42.3,75,60.5c12.6,16.2,57.7,78.5,51,165.5
       c-4.2,54.2-26.5,93.6-39.5,113c12.5-13.2,62.7-69.1,62-152.5c-0.4-47.3-17-83.3-27.5-102c7.8,7.3,15.7,14.7,23.5,22l-41-49l41,17.5
       l-42.5-26h69l-65-6.5l42-18.5l-43,13.5L862,93l-51.5,43l18-40.5L806,137l-1-66l-5.5,64.5l-19.5-49l15,47.5l-45-48.5l23,31.5
       c-11.7-9.6-72.8-57.6-158-47.5C557.3,76.4,518.6,106.3,503.5,119.5z" />
            </g>
          </svg></a>
      </div>
  
      <div class="navbar">
        <a href="/admin">Inicio</a>
        <div class="subnav">
          <button class="subnavbtn">Carrito<i class="fa fa-caret-down"></i></button>
          <div class="subnav-content">
            <a href="/admin/products/create">Seleccionar productos</a>
            <a href="/admin/products">Finalizar Compra</a>
            <a href="/admin/filter">Buscar Productos</a>
            
          </div>
        </div>
        <div class="subnav">
          <button class="subnavbtn">Ordenes<i class="fa fa-caret-down"></i></button>
          <div class="subnav-content">
            <a href="#bring">Seguimiento de envío</a>
            <a href="#deliver">Estado de Ordenes</a>
          </div>
        </div>
        <div class="subnav">
          <button class="subnavbtn">Club de beneficios<i class="fa fa-caret-down"></i></button>
          <div class="subnav-content">
            <a href="#link1">Puntos acumulados</a>
            <a href="#link2">Catálogo de beneficios</a>
              
          </div>
        </div>
        <div class="subnav">
          <button class="subnavbtn">Configuración General<i class="fa fa-caret-down"></i></button>
          <div class="subnav-content">
            
            <a href="#link1">Mi perfil</a>
            <a href="/ingreso/perfil/edit">Editar Perfil</a>
            <a href="#">Mensajes</a>
            
          </div>
        </div>

        <div class="subnav">
          <form action="/ingreso/logout?_method=DELETE " method="POST">
          <button class="subnavbtn" style="cursor: pointer;">Cerrar Session</button></form>
          
        </div>

  </header>